<section class="w-[100%] h-[100%] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 flex flex-col
    px-3 py-10">

  <div class="flex justify-around w-[100%]">
    <button
      class="font-medium text-white w-16 h-10 border-2 border-white rounded-2xl px-2 py-2
      hover:text-black hover:border-black"
      routerLink="/register"
    >
      Sign In
    </button>
    <button
      class="font-medium text-white w-16 h-10 border-2 border-white rounded-2xl px-2 py-2
      hover:text-black hover:border-black"
      routerLink="/authenticate"
    >
      Log In
    </button>
  </div>

  <p class="text-3xl font-extrabold py-12 text-center mx-auto">
    <span class="text-white">EXPANTRA</span> - Your Personalize Tracker</p>

  <div class="flex space-x-5 items-center mx-auto">
    <img src="../../../assets/expense_img1.png" alt="expense_img1" class="rounded-2xl h-28">
    <img src="../../../assets/expense_img2.jpeg" alt="expense_img2" class="rounded-2xl h-28 w-20">
  </div>

  <div class="flex flex-col space-y-2 py-10 items-center mx-auto">
    <p class="text-xl font-semibold">Expense/Savings Tracking</p>
    <p class="text-white font-thin text-justify">✔Input fields for amount, date, category, and notes</p>
    <p class="text-white font-thin text-justify">✔Option to upload receipts or attachments</p>
    <p class="text-xl font-semibold">Edit/Delete Transactions</p>
    <p class="text-white font-thin text-justify">✔Easily update or remove transactions</p>
    <p class="text-xl font-semibold">Recurring Transactions</p>
    <p class="text-white font-thin text-justify">✔Set up recurring expenses and incomes</p>
  </div>

  <p class="font-semibold text-justify">
    Welcome to our Expense Tracker! "A penny saved is a penny earned," said Benjamin Franklin, and our application
    is designed to help you save those precious pennies. Track every penny you spend and stay on top of your finances
    effortlessly. Set monthly budgets to manage your expenses effectively, and analyze spending trends to make informed
    financial decisions. Identify areas where you can cut costs and save more for your future goals. Your financial
    information is safe and encrypted with us, ensuring your data's security. Enjoy our intuitive interface,
    customizable categories, and detailed reports and graphs that make tracking expenses simple and straightforward.
    Stay on track with reminders and alerts, and achieve your financial goals with ease. Start your journey to financial
    freedom today with our Expense Tracker!
  </p>

</section>

<div class="w-[100%] h-12 bg-black flex flex-col justify-center items-center">
  <p class="text-white font-thin">Expantra-Expense Tracking</p>
</div>
